<h1>Add a new job</h1>
<%= simple_form_for @job do |f| %>

<%= f.input :title %>
<%= f.input :company,:label =>"公司" %>
<%= f.input :location,:label =>"工作地点" %>
<%= f.input :job_style ,:label =>"工作类别"%>
<%= f.input :description ,:label =>"职位描述"%>
<%= f.input :wage_lower_bound, :label => "薪资下限" %>
<%= f.input :wage_upper_bound, :label => "薪资上限" %>
<%= f.input :contact_email ,:label =>"联系邮件"%>
<%= f.input :is_hidden %>



<%= f.submit "Submit" %>

<% end %>
