<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="/"><img src='<%= image_url 'https://ww1.sinaimg.cn/large/006tKfTcgy1fersn3981sj307x04k3yj.jpg' %>' >猎鹰招聘</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="/jobs">Home</a></li>
     <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">职位分类
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">互联网</a></li>
         <li><a href="#">金融</a></li>
         <li><a href="#">传媒</a></li>
         <li><a href="#">房地产</a></li>
         <li><a href="#">教育</a></li>
       </ul>
     </li>

   </ul>









       <ul class="nav navbar-nav navbar-right">

         <% if !current_user %>
         <li><%= link_to("注册", new_user_registration_path )%></li>

         <li><%= link_to("登入", new_user_session_path)%></li>
         <% else %>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             Hi,<%= current_user.email %>
             <b class="caret"></b>
           </a>

           <ul class="dropdown-menu">
             <% if current_user.admin? %>
             <li><%= link_to("Admin Panel", admin_jobs_path)%></li>
             <% end %>
             <li> <%= link_to("登出", destroy_user_session_path, method: :delete )%> </li>

           </ul>

         </li>

         <% end %>




       </ul>

     </div>

   </div>

 </nav>
